h1,h2,h3,h4,h5,h6{
  margin: 0;
}
body{
  margin: 0;
  background: url("./img/bg.png") center no-repeat;

  background-size: cover;
  height: 100vh;
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

